{% extends "base.html" %}
{% load static %}

{% block links %}
<script src="{% static "filtering/js/search_controller.js" %}" defer></script>
{% endblock links %}

{% block content %}
<main> 
   
  <form id="popup" class="login">
    <div id="signupForm" >
      <div class="inputtext">
        <input id = "user" class="txtinfo" placeholder="User name" required>
        <input id = "pass" class="txtinfo" placeholder="Password" required>
      </div>
      <div style="display: block; " class="checkbox">
        <input type ="checkbox" id="check" >
        <label for="check" style="display: inline-block; " >Admin</p>
      </div> 
      <button type="button" onclick="login()" class="btn">Log in</button>
      <button type="button" class="closebtn" onclick="closepop()">X</button>
    </div> <br>
  <button class="next" onclick="goToSignup()"> create account</button> 
</form>
  
   
    <div style="height: 20px;"></div>
    <h1>Searching...</h1>
    <div style="height: 20px;"></div>
      
        <div id="search_card">
          <input type="text" id="search" name="search" placeholder="Search books, genres, artists...">
          <div style="height: 10px;"></div>
          <button class="normal_button" onclick="search()">search</button>
        </div>
        <div style="height: 20px;"></div>
      
     
      <div class="bookshelves">   
        {% for book in data %}
        {% if book.isborrowed == "no" %}
        <div class="book_details" onclick="goToSingleBook({{book.id}})">
            <img src="/media/{{book.img}}" alt="IMAGE-NOT-FOUND" class="book_image" >
            <h4>{{book.title}}</h4>
            <p>By: {{book.author_name}}</p>
        </div>
        {% else %}
        <div class="borrowed_books" onclick="showBorrowedBookDetails({{book.id}})">
          <div style="position: relative;">
          <img src="/media/{{book.img}}" alt="IMAGE-NOT-FOUND" class="book_image">
         <h4>{{book.title}}</h4>
         <p>By: {{book.author_name}}</p>
        </div >
          <h2 class="BORROWED">BORROWED</h2>
        </div>
        {% endif %}

        {% endfor %}
        
    </div>
  <br>
    <div>
  </main>

{% endblock content %}