{% extends "base.html" %}
{% load static %}


{% block links %}
{% endblock links %}


{% block content %}
<main>
  <script> 
    user = JSON.parse(localStorage.getItem('user'));
    if(user.isAdmin=="False"){
      window.location.href = "../not-authorized/";
    }
  </script>
    <div style="height: 20px;"></div>
    <h1 id="owner_text">  <span style='font-weight: normal;font-size: 24px;'>{{memberName}} </span></h1></h1>
    <div style="height: 20px;"></div>
        <div id="search_card">
          <input type="text" id="search" name="search" placeholder="Search books, genres, artists...">
          <div style="height: 10px;"></div>
          <button class="normal_button" >search</button>
        </div>
        <div style="height: 20px;"></div>
          
      <div class="bookshelves">  
        {% for book in data %}
        
        <div class="book_details" onclick="goToSingleBook({{book.id}})">
            <img src="/media/{{book.img}}" alt="IMAGE-NOT-FOUND" class="book_image" >
            <h4>{{book.title}}</h4>
            <p>By: {{book.author_name}}</p>
        </div>
        
        {% endfor %} 
    </div>
    <div style="height: 30px;"></div>
  </main>
{% endblock content %}