{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static "css/about_style.css" %}">

{% endblock links %}

{% block title %}  
<title>About Rome Library</title>
{% endblock title %} 
{% block content %}
<main>
  <form id="popup" class="login">
    <div id="signupForm" >
      <div class="inputtext">
        <input id = "user" class="txtinfo" placeholder="User name" required>
        <input id = "pass" class="txtinfo" placeholder="Password" required>
      </div>
      <div style="display: block; " class="checkbox">
        <input type ="checkbox" id="check" >
        <label for="check" style="display: inline-block; " >Admin</p>
      </div> 
      <button type="button" onclick="login()" class="btn">Log in</button>
      <button type="button" class="closebtn" onclick="closepop()">X</button>
    </div> <br>
  <button class="next" onclick="goToSignup()"> create account</button> 
</form>
  
   
    <div style="height: 30px;"></div>
<div class="background_card">
  <p>Welcome to Rome Library, your digital gateway to a world of knowledge and imagination. Our online platform provides students with the opportunity to explore the vast collection of books available in our library and conveniently order them for borrowing.


    Rome Library is a place where the magic of storytelling and the pursuit of knowledge come together. From timeless classics to contemporary works, our library boasts a diverse and enriching selection of literature and we always ensure that we have the best books of all times! <br>
    <br>This innovative platform was brought to life by a team of passionate and dedicated students who recognized the importance of making literature and knowledge accessible in the digital age. <br> <br> Our vision is to make borrowing books easy and convenient for everyone!
    
    
</p>
</div>
<div style="height: 30px;"></div>
{% endblock content %}