{% extends "base.html" %}
{% load static %}


{% block links %}
<script src={% static "profileModel/js/signup_controller.js" %} defer></script>
<link rel="stylesheet" href="{% static "profileModel/css/signup_style.css" %}">
{% endblock links %}

{% block title %}  
<title>Sign Up</title>
{% endblock title %}

{% block content %}
<main >
    <div >
      <img src= "{% static "/img/Logo.png" %}" class="conteinr">
        <div class="formcont">
          <form method="post" action="{% url 'register-new-user' %}" onsubmit="signpress()">
            {% csrf_token %}
            <div class="inputtext">
            <input type ="text" class="info" id = "user"placeholder="username" required>
            <input type ="password" class="info" id = "pass" placeholder="password" required>
            <input type ="password" class="info" id ="confpass" placeholder="confirm password" required>
            <input type ="email" class="info" id = "mail" placeholder="email" required>
          </div>
          <div style="display: block; " class="checkbox">
            <input type ="checkbox" id = "check" >
            <label for="check">Admin</label>
          </div>
          <br>
          <a style="display: block;" id ="link">
            <button class="next" id = "signbtn" > Sign up</button>
          </a> 
          </form>
        </div>
  
        
      </img> 
    </div>
</main>

{% endblock content %}