{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/dimension.css' %}">
<link rel="stylesheet" href="{% static 'css/text.css' %}">
<link rel="stylesheet" href="{% static 'css/textfield.css' %}">
<link rel="stylesheet" href="{% static 'css/search_card.css' %}">
<link rel="stylesheet" href="{% static 'css/single_book_card.css' %}">
<link rel="stylesheet" href="{% static "css/books.css" %}">
<link rel="stylesheet" href="{% static "css/table.css" %}">
<link rel="stylesheet" href="{% static "css/single_book_card.css" %}">

<script src="{% static "js/navigation.js" %}" defer></script>
<link rel="stylesheet" href="{% static "css/pop_up.css" %}">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block links %}

{% endblock links %}

</head>
{% include "parts/navigation.html" %}
<body>
    {% block content %}
{% endblock content %}
{% include "parts/footer.html" %}
</body>

</html>



