{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static "books/css/statistics_style.css" %}">
{% endblock links %}

{% block content %}
<main>

         
    <div class="search_card">
      <p># Of Books: {{num_books}}</p>
       <button class="normal_button" onclick="navigateToPage('/admin/books_screen/books_screen.html')" >Show Details</button>
     </div>
     

    <div class="search_card">
      <p># Of Users: 500</p>
       <button class="normal_button" onclick="numberOfUsersDetails()" >Show Details</button>
     </div>
     
     
     
     <div class="search_card">
      <p># Of AuthorsS: {{num_authors}}</p>
       <button class="normal_button" onclick="numberOfAuthorsDetails()" >Show Details</button>
     </div>
     
     
     
     <div class="search_card">
      <p># Of Borrowed Book: 500</p>
       <button class="normal_button" onclick="navigateToPage('/admin/brrowed_books/brrowed_books.html')" >Show Details</button>
     </div>
     
     <div style="height: 30px;"></div>
    
     
     
  </main>

{% endblock content %}