{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static "books/css/statistics_style.css" %}">
{% endblock links %}


{% block title %}  
<title>Statistics</title>
{% endblock title %}

{% block content %}
<main>
  <script> 
    user = JSON.parse(localStorage.getItem('user'));
    if(user.isAdmin=="False"){
      window.location.href = "/not-authorized/";
    }
  </script>
         
    <div class="search_card">
      <p># Of Books: {{num_books}}</p>
       <button class="normal_button" onclick="navigateToPage('/books/')" >Show Details</button>
     </div>
     

    <div class="search_card">
      <p># Of Users: {{num_users}}</p>
       <button class="normal_button" onclick="navigateToPage('/filtering/users/')" >Show Details</button>
     </div>
     
     
     
     <div class="search_card">
      <p># Of Authors: {{num_authors}}</p>
       <button class="normal_button" onclick="navigateToPage('/filtering/authors/')" >Show Details</button>
     </div>
     
     
     
     <div class="search_card">
      <p># Of Borrowed Book: {{num_borrowed}}</p>
       <button class="normal_button" onclick="navigateToPage('/filtering/borrowed-books')" >Show Details</button> {% comment "" %}TODO change the url{% endcomment %}
     </div>
     
     <div style="height: 30px;"></div>
    
     
     
  </main>

{% endblock content %}