{% extends "base.html" %}
{% load static %}

{% block links %}

<link rel="stylesheet" href="{% static "profileModel/css/user/my_books_style.css" %}">
<script src="{% static "profileModel/js/user/my_books_controller.js" %}" defer></script>

{% endblock links %}

{% block content %}
<main>
    <div id="popup" class="login">
      <div id="signupForm" >
        <div class="inputtext">
          <input id = "user" class="txtinfo" placeholder="User name" required>
          <input id = "pass" class="txtinfo" placeholder="Password" required>
        </div>
        <div style="display: block; " class="checkbox">
          <input type ="checkbox" id="check" >
          <label for="check" style="display: inline-block; " >Admin</p>
        </div> 
        <button type="submit" onclick="closepopup()" class="btn">Log in</button>
        <button type="button" class="closebtn" onclick="closepop()">X</button>
      </div> <br>
     
      <a href="/login/signup/signupScreen.html" style="display: inline-block;">
        <button class="next"> create account</button> 
      </a>
    </div>
    </div>
    <div style="height: 30px;"></div>
  <div id="search_card">
    <input type="text" placeholder="Search" style="width: 400px;">
    <div style="width: 10px;"> </div>
    <button class="normal_button" style="width: 150px;">Search</button>
  </div>
  
  <div class="NumOfBorrowed">
    <p># Of Borrowed Books : </p>
    <p id="numMyBooks"> </p>
  </div>
<div class="user-books">
  <div style="height: 30px;"></div>
    <h2 style="height: 40px;">Your Borrowed Books:</h2>

    <div class="bookshelves" id="bookshelves">   
    
  </div>
  <div style="padding-bottom:20px"></div>
</main>
{% endblock content %}